body {
    /*css for full size background image*/
    /*background: url("Images/grassGame.png") no-repeat center center fixed;*/
    background-color:peachpuff !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: black !important;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


.dropdown-menu > li {
    font-size: 40px !important;
}

.dropdown-menu {
    height: 500px;
    opacity: 0.7;
}

#Start {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
}